{
  "presets": ["react"],
  "plugins": [
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": ["react", "env"]
    }
  }
}
